In [2]:
import pandas as pd
df = pd.read_csv("corona.csv")

In [3]:
df.head()

       Country TotalCases TotalDeath TotalRecovered ActiveCases
0  Afghanistan      1,531        50             207       1,274
1      Albania        726        28             410         288
2      Algeria      3,256       419           1,479       1,358
3      Andorra        738        40             344         354
4       Angola         25         2               6          17